// header
.portal-header {
    width: 100%;
    min-width: 1366px;
    height: 70px;
    display: flex;
    position: relative;
    background: url("~@/assets/bannar.png") 0 0 no-repeat;
    background-size: 100% 100%;

    .portal-header-title {
        left: 155px;
        top: 19px;
        width: 105px;
        height: 33px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 19px;
        margin-left: 24px;

        .portal-header-title-top {
            left: 0px;
            top: 0px;
            width: 96px;
            height: 22px;
            display: flex;
            color: rgba(255, 255, 255, 1);
            font-size: 16px;
        }

        .portal-header-title-bottom {
            left: 0px;
            top: 22px;
            width: 105px;
            height: 11px;
            display: flex;
            color: rgba(255, 255, 255, 1);
            font-size: 8px;
            white-space: nowrap;
            transform: scale(0.65);
            margin-left: -18px;
        }
    }

    .portal-header-desc {
        position: absolute;
        top: 135px;
        left: 220px;

        h1 {
            font-size: 26px;
            color: #fff;
            margin: 0 0 22px 0;
        }

        p {
            width: 440px;
            font-size: 14px;
            line-height: 20px;
            color: #fff;
            margin: 0;
        }
    }

    .right-menu {
        display: flex;
        align-items: center;
        height: 70px;
        position: absolute;
        right: 24px;
        color: #fff;
        font-size: 14px;

        .profile-picture {
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 30px;
            margin-right: 8px;
        }
    }
}

// container
.portal-container {
    width: 100%;
    min-width: 1366px;
    height: calc(100vh - 130px);
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    padding: 16px;

    // position: relative;
    .portal-container-content {
        width: 100%;
        // max-width: 1366px;
        height: 100%;
        margin: 0 auto;
        background: #fff;
        padding: 16px;
        border-radius: 8px;
        overflow: auto;
        display: flex;
        flex-direction: column;

        // tabs
        ::v-deep .el-tabs__nav-wrap::after {
            background: transparent;
        }

        // radio
        .radioBox {
            margin-bottom: 16px;
        }

        // 筛选条件
        .conditions {
            margin-bottom: 16px;
            display: flex;

            .el-input {
                width: 180px;
                margin-right: 8px;
            }

            .el-select,
            .el-cascader {
                margin-right: 8px;
            }

            .el-button {
                margin-left: 8px;
            }

            .searchButton {
                background: #79AC43;
                border: none;
                color: #fff;
            }
        }

        // 表格
        .table {
            // margin-top: 16px;
            // height: calc(100% - 190px);
            flex: 1;

            .el-table::before {
                background-color: #fff;
                height: 0;
            }

            ::v-deep .el-table {
                // margin-top: 24px;
                padding-left: 4px;

                // header
                .el-table__header-wrapper {
                    .el-table__header {
                        tr {
                            th {
                                color: rgba(32, 34, 36, 1);
                                font-size: 14px;
                                font-weight: 400;
                                border: none;
                            }
                        }
                    }
                }

                // body
                .el-table__body-wrapper {
                    .el-table__body {
                        border-spacing: 0 8px;

                        tr {
                            td:first-child {
                                border-left: 1px solid rgba(232, 232, 232, 1);
                            }

                            td:last-child {
                                position: relative;
                                right: 4px;
                                border-right: 1px solid rgba(232, 232, 232, 1);
                            }

                            td {
                                color: rgba(77, 78, 80, 1);
                                border-top: 1px solid rgba(232, 232, 232, 1);
                                border-bottom: 1px solid rgba(232, 232, 232, 1);
                            }
                        }
                    }
                }

                // 复选框
                .cell {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    .el-checkbox {
                        width: 16px;
                        height: 16px;

                        .el-checkbox__input {
                            .el-checkbox__inner {
                                width: 16px;
                                height: 16px;
                            }
                        }

                        .el-checkbox__input.is-checked,
                        .el-checkbox__input.is-indeterminate {
                            width: 16px;
                            height: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: #fff;
                            border: 1px solid #79AC43;
                            border-radius: 2px;
                        }

                        .el-checkbox__input.is-indeterminate {
                            .el-checkbox__inner {
                                width: 8px;
                                height: 4px;
                                background: #79AC43;
                            }

                            .el-checkbox__inner::before {
                                display: none;
                            }
                        }

                        .el-checkbox__input.is-checked {
                            .el-checkbox__inner {
                                width: 8px;
                                height: 8px;
                                background: #79AC43;
                            }

                            .el-checkbox__inner::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        // 分页
        .pagination {
            // position: absolute;
            // bottom: 20px;
            // right: 40px;
            align-items: flex-end;
            height: 32px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;

            .el-pagination {
                margin: 0;
            }
        }
    }

    // 审批弹窗
    ::v-deep .el-dialog__wrapper.approve {
        // .el-dialog__header {

        // }
        .el-dialog__body {
            padding: 0 20px;

            .el-select {
                width: 80%;
            }
        }

        .el-dialog__footer {
            padding: 20px 20px 10px;
        }
    }

    ::v-deep .el-dialog__wrapper.approveLink {
        .el-dialog {
            height: 320px;
            border-radius: 8px;
            overflow: hidden;
            box-sizing: border-box;
            padding: 16px 24px;

            .el-dialog__header {
                padding: 0 20px 20px;
            }

            .el-dialog__body {
                padding: 0;
                height: 220px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .el-tabs {
                    .el-tabs__nav-wrap::after {
                        background: transparent;
                    }
                }

                .el-table::before {
                    display: none;
                }

                .el-table {
                    border: 1px solid #e8e8e8;
                    margin-top: 0;
                    max-height: 235px;

                    // header
                    .el-table__header-wrapper {
                        .el-table__header {
                            tr {
                                border: 1px solid #e8e8e8;

                                th {
                                    color: rgba(32, 34, 36, 1);
                                    font-size: 14px;
                                    font-weight: 400;
                                    border: none;
                                    background: #fafafa;
                                }
                            }
                        }
                    }

                    // body
                    .el-table__body-wrapper {
                        .el-table__body {
                            tr {
                                font-size: 12px;
                                color: #4d4e50;
                            }
                        }
                    }

                    .cell {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }

    // 应用服务关系
    ::v-deep .el-dialog__wrapper.appService {
        .el-dialog {
            height: 320px;
            border-radius: 8px;
            overflow: hidden;
            box-sizing: border-box;
            padding: 16px 24px;

            .el-dialog__header {
                padding: 0;
            }

            .el-dialog__body {
                padding: 0;
                height: 270px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .el-tabs {
                    .el-tabs__nav-wrap::after {
                        background: transparent;
                    }
                }

                .el-table::before {
                    display: none;
                }

                .el-table {
                    border: 1px solid #e8e8e8;
                    margin-top: 0;
                    max-height: 235px;

                    // header
                    .el-table__header-wrapper {
                        .el-table__header {
                            tr {
                                border: 1px solid #e8e8e8;

                                th {
                                    color: rgba(32, 34, 36, 1);
                                    font-size: 14px;
                                    font-weight: 400;
                                    border: none;
                                    background: #fafafa;
                                }
                            }
                        }
                    }

                    // body
                    .el-table__body-wrapper {
                        .el-table__body {
                            tr {
                                font-size: 12px;
                                color: #4d4e50;
                            }
                        }
                    }

                    .cell {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

// footer
.portal-footer {
    width: 100%;
    min-width: 1366px;
    height: 60px;
    background: url("~@/assets/footer.png") 0 0 no-repeat;
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
}